.ni-page {
    margin-top:2em;
    margin-bottom:5em;
}

#ni__searchbar {
    display: block;
    float: right;
    padding-right: 1em;
}


.ni__sidebar {
  float: left;
  padding: .5em;
  display: block;
  width: 20%;
  background-color: #DDE392;
  border-radius:8px;

}

input {
    padding: 2px 12px;
    font-size: 15px;
  }

  .submit {
    background-color:   #FFFFFF;
    color: black;
  }

  .submit:hover {
    background-color:#E6E6E6;
  }

.ni__carousel-wrapper {
    width: 80%;
    margin: 0px;
    text-align: left;
    display:flex;
    align-items:center;
    height: 11em;
    float:left;

}

.ni__carousel-wrapper:after {
  content: "";
  display:table;
  clear: both;
}


.ni__carousel-glider,
.ni__carousel-glider2,
.ni__carousel-glider3 {
    float: left;
    padding-left: 1px;
    display: flex;
    width:80%;
   }

.ni__carousel-glider::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
}

li.ni__carousel-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 110px;;
    height: 10em;
    margin: .35em;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
    border-radius:5px;
  }

.ni__carousel-item {
  align-items:center;
  justify-content:center;
  display:flex;
  outline:none;
  width:174px;
}


  .slick-track {
    display: flex;
  }
  .slick-track .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 li.ni__carousel-item:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

  ul {
    list-style-type:none;
  }


.slick-next, .slick-next2, .slick-next3,
.slick-prev, .slick-prev2, .slick-prev3 {
  width:40px;
  height:40px;
  text-align:center;
  justify-content:center;
  border-style: none;
  border-radius:10px;
  background:none;
  transform:translateY(-50);
  z-index:1;
  flex-direction:column;
  
}

.slick-next:hover, .slick-next2:hover, .slick-next3:hover,
.slick-prev:hover, .slick-prev2:hover, .slick-prev3:hover {
  background-color:#E6E6E6;
  align-items: start;

} 




 .slick-prev:before,
.slick-prev2:before,
  .slick-prev3:before {
    content: "<";
    font-size: 30px;
    align-items:center;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    top:50%;
    bottom:50%;
    left: 50%;
    padding:7px;
 
    

  }
  
 .slick-next:before,
.slick-next2:before,
  .slick-next3:before
   {
    content: ">";
    font-size: 30px;
    align-items:center;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    top:50%;
    bottom:50%;
    left:50%;
    padding:7px;
  }
      
