{{ define "title" }}Search{{ end }}

{{ define "pagestyles" }}
<head>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="_new-items.scss"/>

</head>
{{ end }}

{{ define "main" }}

<body>

    <div id="main-body" class="container ni-page">
        <br>
        <h1>New Items</h1>
    
    <form id = "ni__searchbar" action="/form/submit" method="GET"> 
            <input type="text" name="text" class="search" placeholder="Search New Items...">
            <input type="submit" name="submit" class="submit" value="Search">
          </form>

    <div class="ni__carousel-wrapper">
        <h3>Books by BC Authors</h3>
        </div>

<div class="ni__carousel-wrapper">       
    <button type="button" class="slick-prev" style="display:none" aria-label="previous"></button> 
            <ul class="ni__carousel-glider">
                <li class = "ni__carousel-item">Book #1</li>
                <li class = "ni__carousel-item">Book #2</li>
                <li class = "ni__carousel-item">Book #3</li>
                <li class = "ni__carousel-item">Book #4</li>
                <li class = "ni__carousel-item">Book #5</li>
                <li class = "ni__carousel-item">Book #6</li>
                <li class = "ni__carousel-item">Book #7</li>
                <li class = "ni__carousel-item">Book #8</li>
                <li class = "ni__carousel-item">Book #9</li>
                <li class = "ni__carousel-item">Book #10</li>
                </ul>
     <button type="button" class="slick-next"; style="display:none"; aria-label="next";></button>
 </div>
      
    
 <div class="ni__carousel-wrapper">        
    <h3>Journals and Articles</h3> 
    </div>
    
    <div class="ni__carousel-wrapper">   
        <button type="button" class="slick-prev2"; style="display:none"; aria-label="previous";></button> 
        <ul class="ni__carousel-glider2">
            <li class = "ni__carousel-item">Book #1</li>
            <li class = "ni__carousel-item">Book #2</li>
            <li class = "ni__carousel-item">Book #3</li>
            <li class = "ni__carousel-item">Book #4</li>
            <li class = "ni__carousel-item">Book #5</li>
            <li class = "ni__carousel-item">Book #6</li>
            <li class = "ni__carousel-item">Book #7</li>
            <li class = "ni__carousel-item">Book #8</li>
            <li class = "ni__carousel-item">Book #9</li>
            <li class = "ni__carousel-item">Book #10</li>
            </ul>
            <button type="button" class="slick-next2" style="display:none;" aria-label="next";></button>
        </div>


  
     <div class="ni__carousel-wrapper">   
        <h3>All New Items</h3>     
       </div>
        <div class="ni__carousel-wrapper"> 
            <button type="button" class="slick-prev3" style="display:none" aria-label="previous"></button> 
            <ul class="ni__carousel-glider3">
                <li class = "ni__carousel-item">Book #1</li>
                <li class = "ni__carousel-item">Book #2</li>
                <li class = "ni__carousel-item">Book #3</li>
                <li class = "ni__carousel-item">Book #4</li>
                <li class = "ni__carousel-item">Book #5</li>
                <li class = "ni__carousel-item">Book #6</li>
                <li class = "ni__carousel-item">Book #7</li>
                <li class = "ni__carousel-item">Book #8</li>
                <li class = "ni__carousel-item">Book #9</li>
                <li class = "ni__carousel-item">Book #10</li>  
            </ul>
            <button type="button" class="slick-next3" style="display:none" aria-label="next";></button>
        </div>

    
{{end}}


{{ define "pagescripts" }}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
			

<script>

    $('.ni__carousel-glider').slick({
        infinite: true,
        initialSlide:0,
        slidesToShow: 5,
        slidesToScroll: 2,
        arrows:true,
        centerPadding: 2,
        prevArrow: $('.slick-prev'),
        nextArrow: $('.slick-next'),
        variableWidth:true,
        touchMove:true,
        swipeToSlide:true,
        speed:300,

      });


      $('.ni__carousel-glider2').slick({
        infinite: true,
        initialSlide:0,
        slidesToShow: 5,
        slidesToScroll: 2,
        arrows:true,
        centerPadding: 2,
        prevArrow: $('.slick-prev2'),
        nextArrow: $('.slick-next2'),
        variableWidth:true,
        touchMove:true,
        swipeToSlide:true,
        speed:300,
      });

      $('.ni__carousel-glider3').slick({
        infinite: true,
        initialSlide:0,
        slidesToShow: 5,
        slidesToScroll: 2,
        arrows:true,
        centerPadding: 2,
        prevArrow: $('.slick-prev3'),
        nextArrow: $('.slick-next3'),
        variableWidth:true,
        touchMove:true,
        swipeToSlide:true,
        speed:300,
        swipe:true,
       

      });
/*

 $(document).ready (function(){
        #('.ni__carousel-glider').slick({
           accessibility: true,
           adaptiveHeight: false,
           autoplay: false,
           arrows: true,
           appendArrows: $('.ni__carousel-glider'),
           appendDots: $('.ni__carousel-glider'),
           centerMode: false,
           centerPadding: '50px',
           cssEase: 'ease',
           dots:false,
           dotsClass: 'slick-dots',
           draggable: false,
           fade: false,
           focusOnSelect: true,
           easing: 'linear',
           edgeFriction: 0.15,
           infinite: true,
           initialSlide:0,
           lazyLoad:'ondemand',
           mobileFirst: false,
           respondTo:window,
           rows:1,
           slidesPerRow: 10,
           slidesToShow:5,
           slidesToScroll:5,
           speed:300,
           swipe:true,


        });
    });
*/

</script>
</body>
{{end}}
